h3 {
   font-family: 'Merriweather', serif;
   font-size: 16px;
   padding-top: 12px;
   padding-bottom: 10px;
}

p:nth-child(1) {
   margin-left: 40px;
}

.a,
.d,
.i,
.j {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   padding-left: 20px;
   padding-right: 20px;
   position: relative;
}

}