}

div > p {
   margin-left: 40px;
}

.a,
.d,
.i,
.j {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: space-evenly;
   padding-left: 20px;
   padding-right: 20px;
   position: relative;
}

.a > p,
.d > p,
.i > p {
   right: 50px;
}

cite {
   position: absolute;
   bottom: -24px;
   opacity: 0;
   transition: 350ms;
}

img {
   width: 300px;
   padding-left: 270px;
}

div:hover > cite {
   opacity: 1;
   right: 420px;
}

p {
   margin-right: 160px;
}

.a > p,
.d > p,
.i > p,
.j > p {
   flex-shrink: 4;
   padding-right: 30px;
   padding-bottom: 20px;
   margin-right: 176px;
   margin-left: 20px;
}