body {
   padding: 20px;
   height: 200vh;
   font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;
   line-height: 22px;
   background-color: #fbfbfb;
   margin-left: 300px;
   margin-right: 300px;
}

header {
   text-align: center;
   font-family: 'Berthold City', serif;
   font-weight: bold;
}

h1 {
   font-size: 22px;
   padding-bottom: 6px;
}

h2 {
   font-size: 16px;
}

p {
   padding-bottom: 6px;
}

ul {
   margin-left: 20px;
   list-style-type: disc;
   list-style-position: inside;
}

li:nth-child(even) {
   margin-left: 30px;
}