body {
   padding: 20px;
   height: 200vh;
   font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;
   line-height: 22px;
   background-color: #fbfbfb;
   margin-left: 300px;
   margin-right: 300px;
}

p {
   padding-bottom: 6px;
}

ol {
   margin-left: 40px;
   list-style: decimal outside;
   padding-bottom: 80px;
}

a {
   color: #2BA0BD;
}